.link {
  color: black;
}

.link:hover {
  color: grey;
  text-decoration: none;
}

.icons {
  padding: 5px;
}
/* Fix for Bootstrap bug where modal prevents scrolling after close*/
body {
  overflow-y: scroll !important;
  }